.lightblue{
    -fx-background-color:#023e8a;
}
.darkblue{
    -fx-background-color:#11235A;
}
.backgroundColor{
    -fx-background-color:#F3F9FB;
}
.textColor{
    -fx-background-color:#00b4d8;
}
.gray{
    -fx-background-color:#DDE6ED;
}
.text-area .scroll-pane .content .text{
    -fx-text-alignment:right;
}
.hover:hover{
    -fx-background-color : #00b4d8;
}
.pressed:pressed{
    -fx-background-color : #11235A;
}
.hoverAndUnderline:hover{
    -fx-fill : #00b4d8;
    -fx-underline:true;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    transition:
            -fx-scale-x 0.5s ease,
            -fx-scale-y 0.5s ease;
}
.pressed2:pressed{
    -fx-fill:#00b4d8;
}
.zoom:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    transition:
            -fx-scale-x 0.5s ease,
            -fx-scale-y 0.5s ease;
}
.labels{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill:#11235A;
}
.labels2{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill:#11235A;
}
.CPBorderPane1{
    -fx-padding: 8;
}
.vboxPadding{
    -fx-padding: 10 , 10 , 10 , 25;
}
.labels1{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.seeRequestBtn{
    -fx-background-color:#023e8a;
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
}
.spacePane{
    -fx-background-color: #ffffff;
}
.button1{
    -fx-pref-height: 30;
    -fx-pref-width: 120;
    -fx-font-size: 16;
    -fx-text-fill: #fff;
}
.borderPane1{
    -fx-pref-width:764;
    -fx-pref-height: 50;
}