.lightblue{
    -fx-background-color:#023e8a;
}
.darkblue{
    -fx-background-color:#11235A;
}
.background{
    -fx-background-color:#F3F9FB;
}
.text{
    -fx-background-color:#00b4d8;
}
.gray{
    -fx-background-color:#DDE6ED;
}
.text-area .scroll-pane .content .text{
    -fx-text-alignment:right;
}